#root{
    height: 100vh;
    width: 100vw;
}
body{
    margin: 0;
}

.root {

    --min-height: 60px;
    --font-size:24px;
    height: 100%;
    max-width:calc(100vw - 20px);
    display: flex!important;
    flex-flow: column wrap!important;
    padding: 5px!important;
    margin: 0 10px!important;

}

.buttons {
    flex-basis: auto!important;
    background: #F0F0F0;
    padding: 20px!important;
    border-radius: 0 0 20px 20px!important;
}

.display{
    flex-grow: 4!important;
    margin: 0!important;
    border-radius: 20px 20px 0 0;
    background-color: #141414;
;
}

.display>div{
    background: none!important;
    height: 100%;
}

.display>div>input {
    text-align: end;
    font-size: 36px;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 0;
}


.staticOperators {
    background-color: #FBD928!important;
    box-shadow: -4px -4px 12px #FFFFFF, 4px 4px 12px rgba(209, 205, 199, 0.5);
    border-radius: 30px!important;
    border: none!important;
    margin: 5px!important;
    height: var(--min-height)!important;
    min-width: var(--min-height) !important;
    max-width: var(--min-height) !important;
    font-size: var(--font-size)!important;
}

.button {
    background-color: #F0F0F0!important;
    box-shadow: -4px -4px 12px #FFFFFF, 4px 4px 12px rgba(209, 205, 199, 0.5);
    border-radius: 30px!important;
    border: none!important;
    margin: 5px!important;
    height: var(--min-height)!important;
    min-width: var(--min-height) !important;
    max-width: var(--min-height) !important;
    font-size: var(--font-size)!important;
}

.zero{
    max-width: 130px!important;
    width: 130px!important;
}

.operators {
    background-color: #FBD928 !important;
    box-shadow: -4px -4px 12px #FFFFFF, 4px 4px 12px rgba(209, 205, 199, 0.5);
    border-radius: 30px!important;
    border: none!important;
    margin: 5px!important;
    height: var(--min-height)!important;
    min-width: var(--min-height) !important;
    max-width: var(--min-height) !important;
    font-size: var(--font-size)!important;;
}
